<div>
    <counter 
    *ngFor="let counter of counters"
    [number]="counter.num"
    [id]="counter.id"
    (change)="counter.num = $event"
    (remove)="RemoveCounterWithIndex($event)"
    (reset)="ResetCounterWithIndex($event)"
    ></counter>
</div>
<div class="d-flex justify-content-between">
    <label>SUM: {{ sum }}</label>
    <button (click)="onReset()" class="btn btn-warning">
        Reset
    </button>
</div>
<div>
    <button (click)="onAdd()" class="btn btn-primary">Add Counter</button>
</div>