.counter-grounp {
  margin: 0 auto; /* Center the container */
  max-width: 600px; /* Limit the maximum width to 600px */
  width: 500px;
  border: 1px solid lightgray; /* Add a light gray border */
  padding: 20px; /* Add some padding for spacing */
  border-radius: 10px;

  .summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    button {
      margin-left: 10px;
    }
  }
}
.counter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .single-counter {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  button {
    margin-right: 10px;
  }
}
